/* Template du boutton number url : https://www.cssscript.com/animated-input-spinner-pure-javascript-csscss3/ */
  .ctrl {
    display: flex;
    width: 65%;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    align-items: center;
    border-bottom: 1px solid #D5DCE6;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .ctrl__counter {
    position: relative;
    width: 200px;
    height: 100px;
    color: #333C48;
    text-align: center;
    overflow: hidden;
  }
  
  .ctrl__counter.is-input .ctrl__counter-num {
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in;
  }
  
  .ctrl__counter.is-input .ctrl__counter-input {
    visibility: visible;
    opacity: 1;
    transition: opacity 100ms ease-in;
  }
  
  .ctrl__counter-input {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none;
    border: none;
    color: #333C48;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in;
  }
  
  .ctrl__counter-num {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    visibility: visible;
    opacity: 1;
    transition: opacity 100ms ease-in;
  }
  
  .ctrl__counter-num.is-increment-hide {
    opacity: 0;
    transform: translateY(-50px);
    animation: increment-prev 100ms ease-in;
  }
  
  .ctrl__counter-num.is-increment-visible {
    opacity: 1;
    transform: translateY(0);
    animation: increment-next 100ms ease-out;
  }
  
  .ctrl__counter-num.is-decrement-hide {
    opacity: 0;
    transform: translateY(50px);
    animation: decrement-prev 100ms ease-in;
  }
  
  .ctrl__counter-num.is-decrement-visible {
    opacity: 1;
    transform: translateY(0);
    animation: decrement-next 100ms ease-out;
  }
  
  .ctrl__button {
    width: 19%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #404e64;
    transition: background-color 100ms ease-in;
  }
  
  .ctrl__button:hover {
    background-color: #5b6b86;
    transition: background-color 100ms ease-in;
  }
  
  .ctrl__button:active {
    background-color: #333C48;
    transition: background-color 100ms ease-in;
  }
  
  .ctrl__button--decrement { border-radius: 5px 0 0 5px; }
  
  .ctrl__button--increment { border-radius: 0 5px 5px 0; }
   @keyframes 
  decrement-prev {  from {
   opacity: 1;
   transform: translateY(0);
  }
  }
  @keyframes 
  decrement-next {  from {
   opacity: 0;
   transform: translateY(-50px);
  }
  }
  @keyframes 
  increment-prev {  from {
   opacity: 1;
   transform: translateY(0);
  }
  }
  @keyframes 
  increment-next {  from {
   opacity: 0;
   transform: translateY(50px);
  }
  }



/* Template du boutton select url : https://codepen.io/raubaca/pen/VejpQP */

  select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #404e64;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    margin-bottom: 50px;
    margin-left: 40px;
    line-height: 3;
    background: #354052;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #ffffff00;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    background: #5b6b86;
  }



  /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}